* {
    font-family: arial;
}

.article {
    color: black;
}
html {
    overflow: hidden;
    margin:0;
height: 100%
}
body {
    overflow: auto;
    margin:0;
height: 100%
}
.container{
    position: relative;
    min-height: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.main{
    padding: 10pt;
    padding-bottom: 4rem;

}
.WordSection1 {
    margin-left: 20;
    margin-top: 20;
    margin-right: 20;
    padding-bottom: 6rem;
}

.footer {
    position: absolute;
    opacity: .7;
    width: 100%;
    bottom: 0;
    height: 4rem;
    text-align: center;
    background: #999C99;
    }
    
.address {
    font-size : 16px; 
    text-align : center; 
    color: #efefef;
    padding: 1% 0;
    text-shadow: 1px 1px 0px #202020
    }